li{

	list-style: none;
    text-decoration: none;
}

*{
	box-sizing: border-box;
	margin: 0px;
}
.nav1 ul{
	display: flex;	
	width: 85%;
	margin: auto;
	margin-top: 15px;

}
.nav1 li i{
	color: green;
	display: inline-block;
	padding-left: 10px;
}
.nav1 img{
	margin-top: -10px;
}

.nav1 li p{
	display: inline-block;
	width: 110px;
	margin-left: 10px;
	font-size: 14px;
	padding-left: 10px;
}
.primary-nav{
	display: flex;
	justify-content: space-evenly;
	background: #BDC3C7;
	margin: 0px; 
}
.primary-nav a{
	text-decoration: none;
	display: inline-block;
	padding-bottom: 0px;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 5px;
	color:white;
	padding-right: 10px;
	border-right: 1px solid white;
	padding-left: 5px;
}
.social i{
	color:green;
	padding-bottom: 0px;
	margin-top: 10px;
	padding-right: 10px;
}
button{

	background-color: white;
	border: 2px solid #4CAF50;
	color: #4CAF50;
	text-align:none;	
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	position: relative;	
}
.btn1{
	
    position: absolute;
    right: 140px;
    height: 35px;
    width: 150px;
    font-weight: 500;
    font-size: 18px;
}
.main-nav{
	background: #4CAF50;
}
.nav_2{
    padding-left: 80px;
	width: 90%;
	margin: auto;
	height: 25px;
}
.nav_2 a{
	text-decoration: none;
	color: white;
	font-size: 12px;
	padding-bottom: 20px;
	margin-left: 10px;
}
.banner{

	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("banner-image.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 420px;
	opacity: 0.8;
}
.banner p
{
margin: 0px;
color: white;

}
h1{

	color: white;
	margin-top: 0px;
	padding-top: 80px;
}
.btn{

	border: none;
	position: relative;
	color: white;
	background-color: green;
	left: 0px;
	top: 20px;
	margin-left: 10px;
	height: 40px;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid white;
}

.card {
    float: left;
    width: 25%;
    height: 250px;
    text-align: center;
    position: relative;
    bottom: 80px;
    padding-top: 30px;
    }
.card p,.heading{
	color: white;
}
.heading{
	font-size: 25px;
	font-weight: 800;
	padding-bottom: 10px;
	padding-top: 20px; 
}
.wrapper{
        width: 80%;
        margin: auto;
}
.c1{

	background-color: #8B6BFF;
}

.c2{

	background-color: #FF5C5E;
}
.c3{

	background-color: #A7E866;
}
.c4{

	background-color: #FD7E26;
}
i{

	color: white;

}
.wrapper .card .fa{
	padding-top: 50px;
}